<div class="container4">
  <h1 style="transform: translate(800px)"><i class="fa-solid fa-check"></i><u><strong>To Do List</strong></u></h1>
</div>

<div class="container5">

 <div class="homeWelcome">
  <p class="welcomeHome">Willkommen bei To Do List</p>
 </div>
  <button class="homeRegister" onclick="window.location.href = '/register'">Registrieren</button>
  <button class="homeLogin" onclick="window.location.href = '/login'">Anmelden</button>
  <button class="meineListe" onclick="window.location.href = '/todo'">Meine Liste</button>


  <nav class="navigationBar">
    <ul>
      <li><a href="/login">Anmelden</a></li>
      <li><a href="/register">Registrieren</a></li>
      <li><a href="/todo">Meine Liste</a></li>
    </ul>
  </nav>

</div>


<footer>
  Alle rechte vorbehalten.
</footer>
